@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 85px;
	background-color:#D4CFC9 !important;
}

.navbar-inverse {
	background-color:#3C3428 !important;
}

.viewselector {
	display: flex !important;

	td {
		display:block !important;
		width:auto !important;
		margin: 0px 0.25em 0.25em 0px;
		padding: 0px 0px 0px 6px;
	}
	.dcs-p-dcs-wc-dcs-xc {
    display: block;
}
.dcs-p-dcs-jd-dcs-y-dcs-g {
	margin: 0px 0px !important;
	}
}

.margin-bottom {
	margin-bottom: 10px;
}

.panel {
	display:none;
}